
/* StorySection.css */
.story-section {
    display: flex;
    padding: 10px;
    margin-left: 40%;
}

.story-item {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.story-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.story-item span {
    margin-top: 5px;
}

.story-navigation {
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 10px;
}

.story-container {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

/* PostsSection.css */
.posts-section {
    display: block;
    margin-left: 60%;
    width: 40%;
}

.post-item img {
    width: 150%;
    /* Add any other styles for the post image */
}

.post-item p{
    display: flex;
}

p .username{
    font-weight: bold;
    margin: 0 2%;
}

.comments-section input {
    border: none;
    margin: 2%;
}

.user-info {
    margin-top: 13%;
    display: flex;
    flex-grow: 1;
}

.user-info  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 3%;
}

.user-info span{
    font-weight: bold;
    margin: 3%;
}

.post-actions {
    /* ... previous styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
}

.action {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: #333;
}

.liked {
    color: red;
}

.comments-section {
    margin-top: 8px;
    display: flex;
}

.view-all-comments {
    color: #999;
    font-size: 12px;
    margin-bottom: 4px;
    cursor: pointer;
}

.comment {
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.3;
}

.comment-username {
    font-weight: bold;
    margin-right: 4px;
}

.smiley-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.smiley-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 0.5rem;
    display: flex;
}   

.smiley-option {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.smiley-option:hover {
    transform: scale(1.2);
}